.not-found {
    background: #f0f0f0;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    padding-top: 56px;
    line-height: 24px;
    padding-bottom: 18px;

    &__error {

        &--bold {
            font-weight: 500;
        }

        &--thin {
            font-weight: 100;
            color: #bbbbbb;
        }

    }


    &__box {
        margin: 0px 20px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        font-family: Roboto;

    }

    &__box-background {
        background: #f0f0f0;
    }

}