.section-square {
    display: inline-block;
    padding: 20px 20px;
    font-size: 20px;
    color: #175fb9;
    font-family: Roboto;
    font-weight: 100;
    width: 140px;
    height: 190px;
    vertical-align: top;
    border-right: 1px solid #e6f3ff;
    border-bottom: 1px solid #e6f3ff;

    &:nth-child(even) {
        margin-left: -6px;
        border-right: 0;
    }

    &__tagline {
        display: block;
        text-align: center;
        line-height: 24px;
        margin-top: 4px;
    }

}